form {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}
h1,
h2,
h4 {
  padding-bottom: 5px;
  color: #393e46;
  padding-left: 60px;
  max-height: 70px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 60px;
  font-weight: bold;
}

ul {
  list-style: none;
  font-size: 12px;
  position: relative;
  bottom: -110px;
  color: #70757a;
  margin: 0;
  padding: 0;
}

/* General Content section */

.app {
  max-width: 800px;
  margin: 60px auto;
}

.content {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #a16778;
  border-radius: 15px;
}

/* Input section */

.typeCity {
  border-radius: 5px;
  border: 0px solid #7532f8;
  background-color: #f2dae0;
  max-height: 30px;
  padding: 20px 30px;
}

.search {
  color: #ffff;
  background: #7532f9;
  border-radius: 5px;
  border: 1px solid #fff;
  padding: 8px 18px;
}

/* Serch results section */

.weather-icon {
  position: relative;
  top: 25px;
}

.bigDegrees {
  font-size: 20px;
  position: relative;
  top: -75px;
  left: 80px;
}

.unitCelsius {
  color: black;
  cursor: default;
  text-decoration: none;
}
.unitCelsius:hover {
  text-decoration: none;
}
.unitFahrenheit {
  color: black;
  text-decoration: none;
}

/* Forecast section */

.forecast-weather {
  position: relative;
  top: -60px;
  text-align: center;
  margin-top: 40px;
  border-bottom: 1px solid #f9f7fe;
}

div .card {
  font-size: 10px;
  background-color: transparent;
  border: 0;
  max-height: fit-content;
}

.day-forecast {
  font-size: 16px;
  color: #f65281;
}
.forecast-icon {
  color: #70757a;
  text-align: center;
  font-size: 50px;
  padding-bottom: 10px;
}
.degrees {
  font-size: 16px;
  color: #f65281;
}
.author {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #a16778;
}
